<link rel="stylesheet" href="/css/home/show.css" />
<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
  <!-- Nav -->
  <nav class="main-nav">
    <li><a href="/main">QRXpo</a></li>
    <ul class="main-menu">
        <li><a href="/Audience">고객</a></li>
        <li><a href="/Company">기업</a></li>
        <li><a href="/Admin">관리자</a></li>
    </ul>
  </nav>

<div class="side-nav">
  <ul>
    <li><a class="home" href="/Admin">관리자</a></li>
    <li><a href="#">기업 정보 등록</a></li>
    <li><a href="/Admin_parti">참여 기업 보기</a></li>
    <li><a href="/Admin_log">관람객 로그</a></li>
    <li><a href="/qr">QR코드 생성</a></li>
  </ul>
</div>
  <!-- Xbox -->
  <section class="xbox">
    <div class="content">
      <h2>로그 확인</h2>
      <div class="log_table">
      <table>
      <tr>
        <th>접속자</th>
        <th>회사</th>
        <th>접속 시간</th>  
      </tr>
      <% for (var i = 0; i < arr_history.length; i++) { %>
      <tr>
      <td><%= arr_history[i].uid %></td>  <td><%=arr_history[i].cpnid %></td>  <td><%=arr_history[i].in_date%></td>
      <% } %>
      </tr>
      </table>
    </div>
    </div>
  </section>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-inner">
    <ul>
      <li><a href="#">이용 약관</a></li>
      <li><a href="#">개인정보처리방침</a></li>
    </ul>
  </div>
  <div class="footer-inner">
    <ul>
      <li><a href="#">고객센터 00-0000-0000</a></li>
      <li><a href="#">주소 00-0000-0000</a></li>
      <li><a href="#">팩스 00-0000-0000</a></li>

      <li><a href="#">&copy; AisLAB</a></li>
    </ul>
  </div>
</footer>
