<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link rel="stylesheet" href="/css/home/login.css">
  <!-- defer는 async같은거. 쿼리셀렉터로 데이터 받을때까지 기다림 -->
    <script src = "/js/home/login.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
<div class="form">
    <h3>Company Login</h3>
<form class="login-form">
  
  <input id = "id" type="text" placeholder="아이디" />
  <input id = "psword" type="password" placeholder="비밀번호" />
  <p id = "button">login</p>
  <p class="message">Not registered? <a href="/company_register">Create an account</a></p>
  <p class="message">You Audience? <a href="/login">Audience login</a></p>
</form>
</div>
</div>