  <link rel="stylesheet" href="/css/home/main.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/css/home/slide.js"></script>
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <!-- Nav -->
    <nav class="main-nav">
      <a href="/main"><img src="css/img/logo.png" width="100" height="60"></a>
      <ul class="main-menu">
        <li><a href="/Audience">고객</a></li>
        <li><a href="/Company">기업</a></li>
        <li><a href="/Admin">관리자</a></li>
      </ul>

      <ul class="right-menu">
       <% if(islogined){ %>
          <li>
            
            
            <a href="/logout">
              <li>로그아웃</li>
            </a>
          </li>
          <% } else{ %>
            <li>
              <a href="/login">
                <li>로그인</li>
              </a>
              <a href="/register">
                <li>회원가입</li>
              </a>
            </li>
          <% } %>
      </ul>
    </nav>

    <!-- Showcase -->
    <header class="showcase">
      <a href="/show" class="btn">
        QR 정보보러 가기 <i class="fas fa-chevron-right"></i>
      </a>
    </header>

    <div class="slider">
      <input type="radio" name="slide" id="slide1" checked>
      <input type="radio" name="slide" id="slide2">
      <input type="radio" name="slide" id="slide3">
      <input type="radio" name="slide" id="slide4">
      <ul id="imgholder" class="imgs">
          <li><img src="css/img/C.jpg"></li>
          <li><img src="css/img/A.jpg"></li>
          <li><img src="css/img/C.jpg"></li>
          <li><img src="css/img/A.jpg"></li>
      </ul>
      <div class="bullets">
          <label for="slide1">&nbsp;</label>
          <label for="slide2">&nbsp;</label>
          <label for="slide3">&nbsp;</label>
          <label for="slide4">&nbsp;</label>
      </div>
    </div>

    <div id="index_01">
      <div id="autoslide">
          <ul>
              <li><a href="#"><img src="css/img/A.jpg" alt="슬라이드1"></a></li>
              <li><a href="#"><img src="css/img/C.jpg" alt="슬라이드2"></a></li>
              <li><a href="#"><img src="css/img/A.jpg" alt="슬라이드3"></a></li>
          </ul>
      </div>
    </div>
  </div>

  


  <!--기업 정보 카드 칸-->  
  <div class = "whole-cards">
    <section class="title">
      <h3 text-align: center;>기업 정보</h3>
    </section>

    <!-- Home cards 1 -->
    <section class="home-cards">
      <div class="home-cards-box">
        <div class="cpnname1">
        </div>
        <div class="cpnintro">
        </div>
      </div>

        <div class="home-cards-box">
          <div class="cpnname2">
          </div>
          <div class="cpnintro">
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname3">
          </div>
          <div class="cpnintro">
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname4">
          </div>
          <div class="cpnintro">
          </div>
        </div>

    </section>

    <!-- Home cards 2 -->
    <section class="home-cards">
        <div class="home-cards-box">
          <div class="cpnname2">
          </div>
          <div class="cpnintro">
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname4">
          </div>
          <div class="cpnintro">
          </div>
        </div>


        <div class="home-cards-box">
          <div class="cpnname1">
          </div>
          <div class="cpnintro">
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname3">
          </div>
          <div class="cpnintro">
          </div>
        </div>
    </section>
    </div>

    <div class="container">
    <!-- Xbox -->
    <section class="xbox">
      <div class="content">
        <div class="cus-center">
          <h2>고객센터</h2>

          <p>채용 정보 문의</p>
            
          <p>기업 등록 문의</p>

          <p>결제 문의</p>
        </div>
      </div>
      <div class="content">
        
        <div class = "question">
          <h2>Q&A</h2>
        </div>
      </div>
    </section>
  </div>

  
      <!-- Footer -->
      <footer class="footer">
        <div class="footer-inner">
          <ul>
            <li><a href="#">이용 약관</a></li>
					<li><a href="#">개인정보처리방침</a></li>
          </ul>
        </div>
        <div class="footer-inner">
          <ul>
					<li><a href="#">고객센터 00-0000-0000</a></li>
          <li><a href="#">주소 00-0000-0000</a></li>
          <li><a href="#">팩스 00-0000-0000</a></li>

					<li><a href="#">&copy; AisLAB</a></li>
          </ul>
        </div>
      </footer>