  <link rel="stylesheet" href="/css/home/main.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/css/home/slide.js"></script>
  <div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <!-- Nav -->
    <nav class="main-nav">
      <a href="/main"><img src="css/img/logo.png" width="100" height="60"></a>
      <ul class="main-menu">
        <li><a href="/Audience">고객</a></li>
        <li><a href="/Company">기업</a></li>
        <li><a href="/Admin">관리자</a></li>
      </ul>

      <ul class="right-menu">
       <% if(islogined){ %>
          <li>
            <a href="/logout">
              <li>로그아웃</li>
            </a>
          </li>
          <% } else{ %>
            <li>
              <a href="/login">
                <li>로그인</li>
              </a>
              <a href="/register">
                <li>회원가입</li>
              </a>
            </li>
          <% } %>
      </ul>
    </nav>

    <!-- Showcase -->
    <header class="showcase">
      <a href="/show" class="btn">
        QR 정보보러 가기 <i class="fas fa-chevron-right"></i>
      </a>
    </header>

    <div class="slider">
      <input type="radio" name="slide" id="slide1" checked>
      <input type="radio" name="slide" id="slide2">
      <input type="radio" name="slide" id="slide3">
      <input type="radio" name="slide" id="slide4">
      <ul id="imgholder" class="imgs">
          <li><img src="css/img/C.jpg"></li>
          <li><img src="css/img/A.jpg"></li>
          <li><img src="css/img/C.jpg"></li>
          <li><img src="css/img/A.jpg"></li>
      </ul>
      <div class="bullets">
          <label for="slide1">&nbsp;</label>
          <label for="slide2">&nbsp;</label>
          <label for="slide3">&nbsp;</label>
          <label for="slide4">&nbsp;</label>
      </div>
    </div>

    <div id="index_01">
      <div id="autoslide">
          <ul>
              <li><a href="#"><img src="css/img/A.jpg" alt="슬라이드1"></a></li>
              <li><a href="#"><img src="css/img/C.jpg" alt="슬라이드2"></a></li>
              <li><a href="#"><img src="css/img/A.jpg" alt="슬라이드3"></a></li>
          </ul>
      </div>
    </div>
  </div>

  <!--기업 정보 카드 칸-->  
  <div class = "whole-cards">
    <section class="title">
      <h3 text-align: center;>기업 정보</h3>
    </section>

    <!-- Home cards 1 -->
    <section class="home-cards">
      <div class="home-cards-box">
        <div class="cpnname1">
          <h2>연세대학교</h2>
        </div>
        <div class="cpnintro">
          <p class="card-content">경력직 채용</p>
          <p class="card-content2"><일반분야 - 임용후보자(사무직)></p>
          <span>경력직</span>
          <span>2023.12.31까지</span>
        </div>
      </div>

        <div class="home-cards-box">
          <div class="cpnname2">
            <h2>삼성 SDS</h2>
          </div>
          <div class="cpnintro">
            <p class="card-content">채용연계형 인턴 사원 모집</p>
            <p class="card-content2"><지역인재분야 - 임용후보자(관리직)></p>
            <span>인턴</span>
            <span>2023.12.31까지</span>
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname3">
            <h2>카카오 택시</h2>
          </div>
          <div class="cpnintro">
            <p class="card-content">2023년 제3회 직원 채용</p>
            <p class="card-content2"><행정직 각 부문 채용></p>
            <span>신입</span>
            <span>2023.12.31까지</span>
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname4">
            <h2>배스핀 글로벌</h2>
          </div>
          <div class="cpnintro">
            <p class="card-content">채용연계형 인턴 채용 공고</p>
            <p class="card-content2"> <일반분야 - 임용후보자(연구직)></p>
            <span>인턴</span>
            <span>2023.12.31까지</span>
          </div>
        </div>

    </section>

    <!-- Home cards 2 -->
    <section class="home-cards">
        <div class="home-cards-box">
          <div class="cpnname2">
            <h2>창업 진흥원</h2>
          </div>
          <div class="cpnintro">
            <p class="card-content">정보보안 분야 경력 채용</p>
            <p class="card-content2"> <경력사원 채용(정보보안)></p>
            <span>경력직</span>
            <span>2023.12.31까지</span>
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname4">
            <h2 class="card-content">한국수자원공사</h2>
          </div>
          <div class="cpnintro">
            <p class="card-content">채용연계형 인턴 채용</p>
            <p class="card-content2"> <일반분야 - 임용후보자(연구직)></p>
            <span>인턴</span>
            <span>2023.12.31까지</span>
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname1">
            <h2>카카오</h2>
          </div>
          <div class="cpnintro">
            <p class="card-content">연구원 채용공고</p>
            <p class="card-content2"> <신규직원(정규·무기) 채용></p>
            <span>신입</span>
            <span>2023.12.31까지</span>
          </div>
        </div>

        <div class="home-cards-box">
          <div class="cpnname3">
            <h2>넥센</h2>
          </div>
          <div class="cpnintro">
            <p class="card-content">2차 청년인턴 채용</p>
            <p class="card-content2"> <일반분야 - 임용후보자(연구직)></p>
            <span>신입</span>
            <span>2023.12.31까지</span>
          </div>
        </div>
    </section>
    </div>

    <div class="container">
    <!-- Xbox -->
    <section class="xbox">
      <div class="content">
        <div class="cus-center">
          <h1>고객센터</h1>

          <span class="contact-info">채용 정보 문의 </span>
          <span class="phone-number">02-1234-4321</span>
          <br>
          <span class="contact-info">기업 등록 문의 </span>
          <span class="phone-number">02-1234-6213</span>
          <br>
          <span class="contact-info">결제 문의 </span>
          <span class="phone-number">02-3142-1321</span>

          <p>문의: 평일 09:30 ~ 18:00</p>
        </div>
      </div>
      <div class="content">
        
        <div class = "question">
          <h2>Q&A</h2>
        </div>
      </div>
    </section>
  </div>

      <!-- Footer -->
      <footer class="footer">
        <div class="footer-inner">
          <ul>
            <li><a href="#">이용 약관</a></li>
					<li><a href="#">개인정보처리방침</a></li>
          </ul>
        </div>
        <div class="footer-inner">
          <ul>
					<li><a href="#">고객센터 00-0000-0000</a></li>
          <li><a href="#">주소 00-0000-0000</a></li>
          <li><a href="#">팩스 00-0000-0000</a></li>

					<li><a href="#">&copy; AisLAB</a></li>
          </ul>
        </div>
      </footer>