<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h2>this is main page</h2>
<p class="message">You want login? <a href="/login">login account</a></p>
<p class="message">You want registered? <a href="/register">Create an account</a></p>
<p class="message">show info page? <a href="/show/ys">Show Info</a></p>

</body>
</html>

<!--Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy)-->