<link rel="stylesheet" href="/css/home/show.css" />
<div class="menu-btn">
  <i class="fas fa-bars fa-2x"></i>
</div>

<div class="container">
  <!-- Nav -->
  <nav class="main-nav">
    <li><a href="/main">LOGO EXAMPLE</a></li>
    <ul class="main-menu">
      <li><a href="#">고객</a></li>
      <li><a href="#">기업</a></li>
      <li><a href="#">관리자</a></li>
    </ul>
  </nav>

  <!-- Xbox -->
  <section class="xbox">
    <div class="content">
      <h2>조직 이름 : <%= cpnName %> 의 소개.</h2>
      <h2>CpnIntro 출력: <%= cpnIntro %></h2>
      <h2>정보 1.</h2>
      <h2>정보 2.</h2>
      <h2>정보 3.</h2>
    </div>
  </section>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-inner">
    <ul>
      <li><a href="#">이용 약관</a></li>
      <li><a href="#">개인정보처리방침</a></li>
    </ul>
  </div>
  <div class="footer-inner">
    <ul>
      <li><a href="#">고객센터 00-0000-0000</a></li>
      <li><a href="#">주소 00-0000-0000</a></li>
      <li><a href="#">팩스 00-0000-0000</a></li>

      <li><a href="#">&copy; AisLAB</a></li>
    </ul>
  </div>
</footer>
