<link rel="stylesheet" href="/css/home/show.css">
<div class="menu-btn">
    <i class="fas fa-bars fa-2x"></i>
  </div>

  <div class="container">
    <!-- Nav -->
    <nav class="main-nav">
      <img src="https://i.ibb.co/wwLhz98/logo.png" alt="Microsoft" class="logo">

      <ul class="main-menu">
        <li><a href="#">고객</a></li>
        <li><a href="#">기업</a></li>
        <li><a href="#">관리자</a></li>
      </ul>

      <ul class="right-menu">
        <li>
          <a href="/login">
            <li>로그인</li>
          </a>
          <a href="/register">
            <li>회원가입</li>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fas fa-shopping-cart"></i>
          </a>
        </li>
      </ul>
    </nav>

    <!-- Xbox -->
    <section class="xbox">
        <div class="content">
          <h2>Q&A</h2>
          <h2>조직 이름 : <%= cpnName %> 의 소개.</h2>
          <h2>CpnIntro 출력: <%= cpnIntro %></h2>
          <h2>정보 1.</h2>
          <h2>정보 2.</h2>
          <h2>정보 3.</h2>
          
        </div>
      </section>

      <!-- Follow -->
      <section class="follow">
        <p>Follow QR-platform</p>
        <a href="https://facebook.com">
          <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook">
        </a>
        <a href="https://twitter.com">
          <img src="https://i.ibb.co/vJvbLwm/social-twitter.png" alt="Twitter">
        </a>
        <a href="https://linkedin.com">
          <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin">
        </a>
        <a href="https://linkedin.com">
            <img src="https://i.ibb.co/b30HMhR/social-linkedin.png" alt="Linkedin">
        </a>
      </section>
    </div>
      <!-- Links -->
      <section class="links">
        <h2>참여 기업 링크</h2>
        <div class="links-inner">
          <ul>
            <li><h3>It</h3></li>
            <li><a href="#">A</a></li>
            <li><a href="#">A</a></li>
            <li><a href="#">A</a></li>
            <li><a href="#">A</a></li>
            <li><a href="#">A</a></li>
          </ul>
          <ul>
            <li><h3>Education</h3></li>
            <li><a href="#">B</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">B</a></li>
            <li><a href="#">B</a></li>
          </ul>
          <ul>
            <li><h3>Design</h3></li>
            <li><a href="#">C</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">C</a></li>
            <li><a href="#">C</a></li>
          </ul>
          <ul>
            <li><h3>Construct</h3></li>
            <li><a href="#">D</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">D</a></li>
            <li><a href="#">D</a></li>
          </ul>
          <ul>
            <li><h3>Bio</h3></li>
            <li><a href="#">E</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">E</a></li>
            <li><a href="#">E</a></li>
          </ul>
          <ul>
            <li><h3>Sport</h3></li>
            <li><a href="#">F</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">F</a></li>
            <li><a href="#">F</a></li>
          </ul>
        </div>
      </section>

      <!-- Footer -->
      <footer class="footer">
        <div class="footer-inner">
          <ul>
            <li><a href="#">이용 약관</a></li>
					<li><a href="#">개인정보처리방침</a></li>
          </ul>
        </div>
        <div class="footer-inner">
          <ul>
					<li><a href="#">고객센터 00-0000-0000</a></li>
          <li><a href="#">주소 00-0000-0000</a></li>
          <li><a href="#">팩스 00-0000-0000</a></li>

					<li><a href="#">&copy; AisLAB</a></li>
          </ul>
        </div>
      </footer>